/AzureResearchAndDevBlobStorage/AzureResearchAndDevBlobStorage.Service/obj
/AzureResearchAndDevBlobStorage/AzureResearchAndDevBlobStorage.Service/bin
/AzureResearchAndDevBlobStorage/AzureResearchAndDevBlobStorage.Web/obj
/AzureResearchAndDevBlobStorage/AzureResearchAndDevBlobStorage.Web/bin
